{extend name="public/base"}
{block name="title"}新闻详情{/block}
{block name="main-content"}
<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
		</script>

		<ul class="breadcrumb">
			<li><i class="icon-home home-icon"></i><a href="{:url('admin/index/index')}">首页</a></li>
			<li><a href="#">新闻</a></li>
			<li class="active">新闻详情</li>
		</ul><!-- .breadcrumb -->
	</div>

	<div class="page-content">
		<div class="page-header">
			<h1>
				新闻查看
				<small><i class="icon-double-angle-right"></i></small>
			</h1>
		</div><!-- /.page-header -->

		<!--新闻详情开始-->
		<table border="1" cellspacing="1" cellpadding="5" width="800px">
			<tr>
				<td width="150px">新闻标题:</td>
				<td>{$record.subject}</td>
			</tr>
			<tr>
				<td>所属分类:</td>
				<td>{$record.category.catename}</td>
			</tr>
			<tr>
				<td>合作伙伴:</td>
				<td>{$record.partner.name}</td>
			</tr>
			<tr>
				<td>更新时间:</td>
				<td>{$record.addtime|date="Y-m-d H:i:s",###}</td>
			</tr>
			<tr>
				<td>新闻内容:</td>
				<td>{$record.content}</td>
			</tr>
		</table>
		<!--新闻详情结束-->

	</div><!-- /.page-content -->
</div><!-- /.main-content -->
{/block}
