<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>新闻视界</title>
	<link href="__CSS__/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="__CSS__/reset.css" rel="stylesheet" type="text/css" media="all" />
	<link href="__CSS__/layout.css" rel="stylesheet" type="text/css" media="all" />
	<link href="__CSS__/common.css" rel="stylesheet" type="text/css" media="all" />
	<link href="__CSS__/tab.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<!-- 通用顶部导航开始-->
<div id="top-navi-wrap">
	<div class="clearfix" id="top-navi">
		<div class="side-left">
			<a href="http://sport.qq.com">巴西世界杯一再爆冷 卫冕冠军西班牙出局</a>
			<a href="http://www.tuniu.com">瑞士人为啥最幸福</a>　
			<a href="http://www.baidu.com">中国病人的福音</a>
		</div>
		<div class="side-right">
			<div class="top-nav-select-title">
				{if condition="$Think.session.user.nickname eq ''"}
				<a href="{:url('index/users/login')}" target="_blank" class="top-nav-login-title">登录</a>
				<a href="{:url('index/users/register')}" target="_blank">免费注册</a>
				{else/}
				<span>您好，<a href="{:url('/index/users/index/'.session('user.userid'))}" class="current-user">{$Think.session.user.nickname}</a></span>
				<a href="{:url('index/users/logout')}">退出</a>
				{/if}
			</div>
		</div>
	</div>
</div>
<!-- 通用顶部导航结束 -->
<!--header start-->
<div class="clear" id="header">
	<div id="logo"><a href="#" title="换一个角度看新闻"></a></div>
	<!--<div id="search-bar">-->
	<!--<form name="search-form" action="" method="get">-->
	<!--<input type="text" name="keywords" id="keywords" value="党报连发治军铁腕新政"/>-->
	<!--<input type="submit" value="" id="search-submit-button"/>-->
	<!--</form>-->
	<!--</div>-->
</div>
<!--header end-->
<!--导航开始-->
<div id="navigation">
	<ul class="clear">
		<li><a href="{:url('/')}" {if condition="request()->param('id')==''"}class="current"{/if}>首页</a></li>
		{foreach $naviCate as $item}
		<li><a href="{:url('index/index/catenews', ['id' => $item.id])}" {if condition="request()->param('id')==$item.id"}class="current"{/if}>{$item.catename}</a></li>
		{/foreach}
	</ul>
</div>
<!--导航结束-->


<div class="section">
	<h1 class="article-title">{$record.subject}</h1>
		<div class="clear">
			<div class="side-left-680" id="article">		
				<div class="article-info">{$record.addtime|date="Y年m月d日 H:i",###}<a href="{:url('index/comment/read', ['id' => $record.id])}" class="comment-count-plus">评论({$record.commentnums})</a></div>
				<div id="comment">
					<p class="comment-count"><a href="{:url('index/comment/read', ['id' => $record.id])}">已有<span class="comment-count-plus">{$record.commentnums}</span>条评论，共<span>{$record.readtimes}人</span>参与</a></p>
					<textarea class="comment-content" id="comment-content" placeholder="请输入评论内容"></textarea>
					<div class="comment-user-cont clear">
						{if condition="$Think.session.user.nickname eq ''"}
						<div class="comment-user-username"><input type="text" name="username" id="username" class="comment-input" placeholder="请输入账号"/></div>
						<div class="comment-user-password"><input type="password" name="password" id="password" class="comment-input" placeholder="请输入密码"/></div>
						<div class="comment-user-link">
							<input type="checkbox" name="remember" checked="checked" value="1"/> 下次自动登录
							<a href="javascript:void(0)" id="login-button">登录</a>
						</div>
						<span style="color:#f00; margin-left: 20px;">评论需登录</span>
						{else/}
						<div class="comment-user-logined">
							<span><a href="#">{$Think.session.nickname}</a></span>
							<span><a href="{:url('index/users/logout')}">退出</a></span>
							<a href="javascript:void(0)" class="comment-publishing-btn" id="send-button" style="cursor: pointer;">发布</a>
						</div>
						{/if}
					</div>
				</div>
		<!--评论列表开始-->								
						<div id="">
							<table width="100%" border="0" >
								{foreach $record.getCommentByNew as $comment_item}
								<tr height="30px" style="border-top: 1px solid #bbb;">
									<td rowspan="3" width="120px"><img src="__ROOT__/static/user_image/{$comment_item.users.face}" width="80px" style="border-radius: 50%;"/></td>
									<td>{$comment_item.users.nickname}</td>
								</tr>
								<tr height="60px">
									<td>{$comment_item.content}</td>
								</tr>
								<tr height="30px">
									<td>{$comment_item.addtime|date="Y年m月d日 H:i",###}</td>
								</tr>
								{/foreach}
							</table>
						</div>					
		<!--评论列表结束-->			
			</div>
		<div class="side-right-300">
			<h3 class="hot-title">24小时排行榜</h3>
			<ol class="list-hot">
			{foreach $hourNews as $key => $new}
				{if condition="$key<3"}		
				<li class="hot"><span class="top-num num3">0{$key+1}</span><a href="{:url('index/index/read', ['id' => $new.id])}" >{$new.subject|mb_substr=###,0,20}</a></li>
				{else/}
				<li><span class="top-num">{if condition="$key<9"}0{$key+1}{else/}{$key+1}{/if}</span><a href="{:url('index/index/read', ['id' => $new.id])}" >{$new.subject|mb_substr=###,0,20}</a></li>
				{/if}
			{/foreach}
			</ol>		
		
		</div>
	</div>
</div>
<!--评论区登录评论-->
<script src="__JS__/jquery-2.2.0.js"></script>
<script type="text/javascript">
    $(function () {
        $('#login-button').click(function () {
            $.post("{:url('index/users/login')}}", 'username=' + $('#username').val() + '&password=' + $('#password').val(), function () {
                location.reload();
            });
        });
        $('#send-button').click(function () {
            $.post('{:url("index/comment/save")}', 'content=' + $('#comment-content').val() + '&news_id={:Request()->param("id")}', function () {
                $('#comment-content').val('');
                var commentnums = parseInt($('.comment-count-plus').last().text()) + 1;
                $('.comment-count-plus').text(commentnums);
            });
        });
    });
</script>
<!--版权区 start-->
<div class="section footer">
	<p>24小时客户服务热线：4000000000 010-82623378 <a href="#">常见问题解答</a> <a target="_blank" href="http://www.12377.cn/">互联网违法和不良信息举报</a></p>
	<p><a target="_blank" href="#">新闻中心意见反馈留言板</a></p>
	<p><a href="#">公司简介</a> | <a href="#">关于我们</a> | <a href="#">广告服务</a> | <a href="#">联系我们</a> | <a href="#">招聘信息</a> | <a href="#">网站律师</a> |  <a href="#">通行证注册</a> | <a href="#">产品答疑</a></p>
	<p>Copyright &copy; 1989-2018 ONLINE Corporation, Imporving Little Everyday</p>
</div>
<!--版权区 end-->

</body>
</html>