{extend name="public/base"}
{block name="title"}合作伙伴详情{/block}
{block name="main-content"}
<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
		</script>

		<ul class="breadcrumb">
			<li><i class="icon-home home-icon"></i><a href="{:url('admin/index/index')}">首页</a></li>
			<li><a href="#">合作伙伴</a></li>
			<li class="active">合作伙伴详情</li>
		</ul><!-- .breadcrumb -->

	</div>

	<div class="page-content">
		<div class="page-header">
			<h1>
				合作伙伴查看
				<small><i class="icon-double-angle-right"></i></small>
			</h1>
		</div><!-- /.page-header -->

		<!--新闻详情开始-->
		<table border="1" cellspacing="1" cellpadding="5" width="800px">
			<tr>
				<td width="150px">序号:</td>
				<td>{$part_record.id}</td>
			</tr>
			<tr>
				<td>合作伙伴名称:</td>
				<td>{$part_record.name}</td>
			</tr>
			<tr>
				<td>合作伙伴网址:</td>
				<td>{$part_record.website}</td>
			</tr>
			<tr>
				<td>所属新闻:</td>
				<td>
					<ul>
						{foreach $part_record.news as $part_record.new}
						<li>
							<a href="{:url('admin/news/read',['id' => $part_record.new.id])}">{$part_record.new.subject}</a>
						</li>
						{/foreach}
					</ul>
				</td>
			</tr>
		</table>
		<!--新闻详情结束-->
	</div><!-- /.page-content -->
</div><!-- /.main-content -->
{/block}
