{extend name="public/base"}

{block name="main"}


<div class="section clear">
	<div class="side-left-680">
		<div>
			{foreach $records as $record}
			<div class="news-list-item clear">
				<div class="news-list-item-pic"><a href="{:url('index/index/read', ['id' => $record.id])}">
					<img src="__ROOT__/static/news_image/thumb/{$record.thumb}" alt=""/></a></div>
				<div class="news-list-item-txt">
					<h1><a href="{:url('index/index/read', ['id' => $record.id])}">{$record.subject|mb_substr=0,30}</a></h1>
					<p>{$record.content|strip_tags|mb_substr=0,80}...</p>
				</div>
			</div>
			{/foreach}

			共{$records->lastPage()}页 | 第{$records->currentPage()}页
			<div class="page-list clear">
				{$records->render()}
			</div>
		</div>
	</div>
	<div class="side-right-300">
		<h3 class="hot-title">24小时排行榜</h3>
		<ol class="list-hot">
			{foreach $hourNews as $key => $new}
			{if condition="$key<3"}
			<li class="hot"><span class="top-num num3">0{$key+1}</span><a
					href="{:url('index/index/read', ['id' => $new.id])}">{$new.subject|mb_substr=0,20}</a></li>
			{else/}
			<li><span class="top-num">{if condition="$key<9"}0{$key+1}{else/}{$key+1}{/if}</span><a
					href="{:url('index/index/read', ['id' => $new.id])}">{$new.subject|mb_substr=0,20}</a></li>
			{/if}
			{/foreach}
		</ol>

	</div>
</div>

{/block}
